pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Copy data1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from UFTProjInvoiceJourStaging",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DBO",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "dbo",
											"type": "Expression"
										},
										"table": {
											"value": "UFTProjInvoiceJourStaging",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "EXT",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@{item().schema2}",
											"type": "Expression"
										},
										"table": {
											"value": "@{item().tabla}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from UFTProjInvoiceJourStaging",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DBO",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "UFTProjInvoiceJourStaging"
						}
					}
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"schema2": {
				"type": "string",
				"defaultValue": "ext"
			}
		},
		"variables": {
			"table": {
				"type": "Array",
				"defaultValue": [
					"UFTProjInvoiceJourStaging"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-30T02:16:57Z"
	}
}