pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{item().schema}.@{item().tabla}"
					},
					{
						"name": "Destination",
						"value": "@{item().schema2}.@{item().tabla}"
					}
				],
				"typeProperties": {
					"variableName": "table",
					"value": {
						"value": "@json('[\n\n    {\n        \"schema\": \"dbo\",    \n        \"schema2\": \"ext\",        \n        \"tabla\":\"APEInvInvoiceTableTmpStaging\" ,   \n        \"pk_integracion\": \"DEFINITIONGROUP\"\n        },\n\n         \n       \n]')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('table')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().schema}.@{item().tabla}"
								},
								{
									"name": "Destination",
									"value": "@{item().schema2}.@{item().tabla}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DBO",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "EXT",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@{item().schema2}",
											"type": "Expression"
										},
										"table": {
											"value": "@{item().tabla}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"schema2": {
				"type": "string",
				"defaultValue": "ext"
			}
		},
		"variables": {
			"table": {
				"type": "Array",
				"defaultValue": [
					"APEInvInvoiceTableTmpStaging"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-30T02:16:57Z"
	}
}