adf-ejerciciodaniel/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ejerciciodaniel"
		},
		"AzureDatabaseDBO_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureDatabaseDBO\""
		},
		"AzureDatabaseETX_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureDatabaseETX\""
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureSqlDatabase1\""
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-accesodani.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabaseDBO')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"URL_KeyVault": {
						"type": "string",
						"defaultValue": "https://kv-accesodani.vault.azure.net/"
					},
					"SecretName_KeyVault": {
						"type": "string",
						"defaultValue": "DatabaseConnectionazuredatabasedani03"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureDatabaseDBO_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabaseETX')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"URL_KeyVault": {
						"type": "string",
						"defaultValue": "https://kv-accesodani.vault.azure.net/"
					},
					"SecretName_KeyVault": {
						"type": "string",
						"defaultValue": "DatabaseConnectionazuredatabaseEXT"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureDatabaseETX_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DBO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "UFTProjInvoiceJourStaging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDatabaseETX",
					"type": "LinkedServiceReference",
					"parameters": {
						"URL_KeyVault": "@dataset().urlKeyVault",
						"SecretName_KeyVault": "@dataset().secretNameKeyVault"
					}
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					},
					"urlKeyVault": {
						"type": "string"
					},
					"secretNameKeyVault": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabaseETX')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DBO2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "APEInvInvoiceTableTmpStaging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "@{item().schema}.@{item().tabla}"
							},
							{
								"name": "Destination",
								"value": "@{item().schema2}.@{item().tabla}"
							}
						],
						"typeProperties": {
							"variableName": "table",
							"value": {
								"value": "@json('[\n\n    {\n        \"schema\": \"dbo\",    \n        \"schema2\": \"ext\",        \n        \"tabla\":\"UFTProjInvoiceJourStaging\" ,   \n        \"pk_integracion\": \"PK_UFTProjInvoiceJourStaging\"\n        },\n\n         \n       \n]')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('table')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().schema}.@{item().tabla}"
										},
										{
											"name": "Destination",
											"value": "@{item().schema2}.@{item().tabla}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DBO",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "EXT",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@{item().schema2}",
													"type": "Expression"
												},
												"table": {
													"value": "@{item().tabla}",
													"type": "Expression"
												},
												"urlKeyVault": "https://kv-accesodani.vault.azure.net/",
												"secretNameKeyVault": "DatabaseConnectionazuredatabaseEXT"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"schema2": {
						"type": "string",
						"defaultValue": "ext"
					}
				},
				"variables": {
					"table": {
						"type": "Array",
						"defaultValue": [
							"UFTProjInvoiceJourStaging"
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-30T02:16:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DBO')]",
				"[concat(variables('factoryId'), '/datasets/EXT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "@{item().schema}.@{item().tabla}"
							},
							{
								"name": "Destination",
								"value": "@{item().schema2}.@{item().tabla}"
							}
						],
						"typeProperties": {
							"variableName": "table",
							"value": {
								"value": "@json('[\n\n    {\n        \"schema\": \"dbo\",    \n        \"schema2\": \"ext\",        \n        \"tabla\":\"APEInvInvoiceTableTmpStaging\" ,   \n        \"pk_integracion\": \"DEFINITIONGROUP\"\n        },\n\n         \n       \n]')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('table')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().schema}.@{item().tabla}"
										},
										{
											"name": "Destination",
											"value": "@{item().schema2}.@{item().tabla}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DBO",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "EXT",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@{item().schema2}",
													"type": "Expression"
												},
												"table": {
													"value": "@{item().tabla}",
													"type": "Expression"
												},
												"urlKeyVault": "https://kv-accesodani.vault.azure.net/",
												"secretNameKeyVault": "DatabaseConnectionazuredatabaseEXT"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"schema2": {
						"type": "string",
						"defaultValue": "ext"
					}
				},
				"variables": {
					"table": {
						"type": "Array",
						"defaultValue": [
							"APEInvInvoiceTableTmpStaging"
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-30T02:16:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DBO')]",
				"[concat(variables('factoryId'), '/datasets/EXT')]"
			]
		}
	]
}